* {
    -webkit-tap-highlight-color: transparent;
}
.wrapper {
    position: relative;
}

.header {
    height: var(--header-height);
    background-color: var(--white-color);
    /* position:fixed; */
}

.header-main {
    display: flex;
    flex-wrap: wrap;
}
.nav {
    height: var(--nav-height);
    background-color: var(--primary-color);
}
.nav__list {
    list-style:none;
    display: flex;
    justify-content: end;
    margin-right: 42px;
}
.nav__item {
    position: relative;
    line-height: 4rem;
}
.nav__item-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.5rem;
    margin: 0 6px;
}
.nav__item-icon {
    transform: rotateY(180deg); /*đảo chiều*/
}

.nav__item:not(:last-child)::after {
    display: inline-flex;
    position: absolute;
    content: "";
    height: 28px;
    width: 1px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
}

.header-main {
    height: var(--header-main-height);
    display: flex;
    align-items: center;

    padding: 0 15px;
}

.header__logo-img {
    width: 270px;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.header__search-wrap {
    display: flex;
    flex: 1;
    /* justify-content: flex-end; */
}

.header__search-input{
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid var(--border-color);
    font-size: 1.5rem;
    color: #ababab;
    background-color: #ededed;
    padding: 0 16px;
    border-radius: 3px;
}

.header__search-btn {
    width: 120px;
    height: 100%;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-size: 1.5rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.header__user {
    width: 157px;
    height: 40px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 40px;
    position: relative;
}

.header__user-link {
    text-decoration: none;
    font-weight: 600;
    color: #a4a0a0;
}

.header__user-icon {
    font-size: 2.5rem;
}

.header__cart {
    width: 99px;
    height: 40px;
    font-size: 1.5rem;
    text-align: center;
    line-height: 40px;
    position: relative;
}

.header__cart-link {
    text-decoration: none;
    color: #a4a0a0;
    font-weight: 600;
}

.header__cart-icon {
    font-size: 2.5rem;
}

.header__cart-quantily {
    font-size: 1.3rem;
    font-weight: 600;
    position: absolute;
    top:-20%;
    padding: 2px 7px;
    left: 20%;
    background-color: var(--primary-color);
    color: var(--white-color);
    line-height: 1.6rem;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

.header__user-sign {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    background-color: var(--white-color);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    right: -30%;
    display: none;
    animation: Appear ease 0.4s;
}

.header__user-sign-link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--black-color);
    background-color: #fdd835;
    min-width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}

.header__user-sign-fb {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 40px;
    color: var(--white-color);
    background-color: #3b5998;
}

.header__user-sign-gg {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: #df4a32;
}

.header__user-fb-icon,
.header__user-gg-icon {
    width: 40px;
    text-align: center;
    font-size: 2.4rem;
    border-right: 1px solid #fff;
}

.header__user-sign-fb>span,
.header__user-sign-gg>span {
    padding-left: 10px;
}

.header__user:hover .header__user-sign {
    display: flex;
}

.header-sub-list {
    display: flex;
    justify-content: space-between;
}

.header__category {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 230px; */
    height: 35px;
    background-color: #7c7575;
    border-radius: 4px;
    margin-left: -12px;
    /* margin-right: 5px; */
    flex: 1;
}

.header__category-heading {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white-color);
}

.header__tutorial-pay {
    display: flex;
    flex: 1;
    /* margin-left: 20px; */
    /* align-items: center; */
    justify-content:flex-end;
}

.header__tutorial-pay-link {
    display: flex;
    /* flex: 1; */
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--black-color);
    /* width: 220px; */
    height: 35px;
    border-radius: 3px;
    padding: 0 10px;
}

.header__tutorial-icon {
    font-size: 2rem;
    padding-right: 10px;
}

.header__tutorial-pay-link:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* product category */
.content {
    background-color: #efefef;
    padding-bottom: 20px;
}
.category-adv {
    display: flex;
    margin-bottom: 10px;
}

.product__category {
    /* position: relative; */
    width: 17%;
    height: 587px;
    background-color: var(--white-color);
    border-bottom-left-radius: 3px ;
    border-bottom-right-radius: 3px ;
    margin-right: 10px;
}
.category-list {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin:auto;
    /* align-items: center; */
    list-style: none;
    padding-left: 0;
    /* padding-top: 6px; */
}
.category-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.category-link {
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-decoration: none;
    color: #4b4848;
    font-size: 1.4rem;
}

.category-link>span {
    max-height: 38px;
    line-height: 3.8rem;
    width: 200px;
    overflow: hidden;
}
.category-icon {
    font-size: 1.6rem;
    color: #bbbaba;
    margin-right: 10px;
    padding-left: 3px;
}
.category-icon2 {
    font-size: 1.2rem;
    color: #bbbaba;
    padding-right: 5px;
}

.category-item:hover .category-link{
    background-color: #ededed;
    font-weight: 700;
    border-radius: 2px;
    /* padding: 0 1px; */
}

/* menu-tablet-mobile */
.menu-tablet-mobile {
    font-size: 3rem;
    margin-left: 15px;
}

.menu-link {
    text-decoration: none;
    color: black;
}

.slider-advertise{
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
}
.slider {
    width: 67%;
    margin-top: 4px;
}
.advertise-right {
    width: 33%;
}
.slider-img {
    border-radius: 6px;
    width: 99%;
}

.adv-below-img {
    width: 49.5%;
}

.adv-right-img {
    width: 100%;
}

.adv-sub {
    display: flex;
}

.adv-sub-img {
    width: 342px;
}

/* brand category */
.brand {
    margin-bottom: 20px;
}

.brand-heading {
    width: 100%;
    height: 45px;
    color: #333e48;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--border-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-text {
    font-size: 2.2rem;
    margin-left: 15px;
}

.brand-show-all {
    font-size: 1.6rem;
    margin-right: 15px;
    text-decoration: none;
    color: #588ecd;
}

.brand-category {
    background-color: var(--white-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.brand-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.brand-item {
    width: 11.5%;
    margin: 10px 5px;
}

.brand-link {
    text-decoration: none;
}
.brand-img {
    width: 100%;
}
.brand-img:hover {
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* laptop noi bat */
.hightlight-laptop {
    background-color: var(--white-color);
    margin-bottom: 20px;
}
.hightlight-heading {
    display: flex;
}

.hightlight-heading-img{
    position: relative;
    min-height: 30px;
    width: 100%;
}
.hightlight-laptop-option {
    position: absolute;
    display: flex;
    right: 4%;
    height: 48px;
}
.hightlight-heading a{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;
    margin-right: 25px;
    line-height: 4.8rem;
}

.showall__laptop:hover,
.showall__gaming:hover,
.showall__office-lap:hover {
    text-decoration: underline;
}

.hightlight-laptop-product{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white-color);
}
.laptop-L {
    width: 40%;
    border-bottom: 1px solid var(--border-color);
}

.laptop-L-link {
    text-decoration: none;
}

.laptop-L-img {
    width: 100%;
}

.laptop-L-name {
    height: 36px;
    line-height: 1.8rem;
    font-size: 1.4rem;
    color: var(--black-color);
    padding-left: 10px;
    margin-bottom: 15px;
}

.laptop-L-price{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-color);
    /* padding-left: 10px; */
    padding: 20px 10px;
}

.laptop-S {
    width:20%;
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

}

.laptop-S-img {
    width: 100%;
    padding: 20px;
    transition: transform linear 0.2s;
}
.laptop-S-img:hover {
    transform:translateY(-7px);
}
.laptop-S-link {
    width: 90%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content:center;
    margin: auto;
    text-decoration: none;
}

.laptop-S-name {
    height: 36px;
    line-height: 1.8rem;
    font-size: 1.4rem;
    color: var(--black-color);
    padding-left: 10px;
    margin-top: 18px;
    overflow: hidden;
}

.laptop-S-price{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-color);
    margin: 15px 10px;
}

/* hot PC*/
.PC-hot {
    margin-bottom: 20px;
}

.PC-hot-heading {
    width: 100%;
    height: 45px;
    color: #333e48;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--border-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PC-hot-text {
    font-size: 2.2rem;
    margin-left: 15px;
}

.PC-option {
    margin-right: 15px;
}

.PC-option a{
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 3px 15px;
    /* line-height: 4.5rem; */
}
.PC-intel:hover,
.PC-gaming:hover,
.PC-imac:hover {
    text-decoration: underline;
}

.mobile__PC-hot-category {
    background-color: var(--white-color);
    width: 100%;
}

.mobile__PC-hot-list {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    list-style: none;
    /* max-width: 100%; */
    /* overflow-x: auto; */
}

.mobile__PC-hot-item{
    border-right: 1px solid var(--border-color);
}

.mobile__PC-hot-link {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 280px;
    text-decoration: none;
}
.mobile__PC-hot-img {
    width: 80%;
    margin: 35px 36px 15px 28px;
    transition: transform linear 0.2s;
}
.mobile__PC-hot-img:hover {
    transform: translateY(-5px);
}
.mobile__PC-hot-name {
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 16px;
}

.mobile__PC-hot-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 25px 0 20px 16px;
    color: var(--primary-color);
}


/* slider PC hot on PC */
.PC-hot-category {
    background-color: var(--white-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    align-items: center; */
}
.PC-hot-item {
    height: 350px;
    text-decoration: none;
    padding-top: 20px;
}
.PC-hot-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    transition: transform linear 0.2s;
}

.PC-hot-img:hover img {
    transform: translateY(-5px);
}

.PC-hot-name {
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}

.PC-hot-price {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-top: 15px;
}

.slick-initialized .slick-slide {
    margin: 0 20px;
}
.slick-prev {
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-55%);
    background-color: var(--border-color);
    font-size: 2rem;
    border: none;
    border-radius: 100%;
    padding: 10px 15px;
    z-index: 2;
    cursor: pointer;
}
.slick-next {
    position: absolute;
    top: 45%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--border-color);
    font-size: 2rem;
    border: none;
    border-radius: 100%;
    padding: 10px 15px;
    z-index: 2;
    cursor: pointer;
}

.products {
    margin-bottom: 20px;
}

.products-heading {
    width: 100%;
    height: 45px;
    color: #333e48;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--border-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-text {
    font-size: 2.2rem;
    margin-left: 15px;
}

.products-option {
    margin-right: 15px;
}

.products-option a{
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 3px 15px;
    /* line-height: 4.5rem; */
}
.products-option-1:hover,
.products-option-2:hover,
.products-option-3:hover {
    text-decoration: underline;
}

.products-category {
    width: 100%;
    background-color: var(--white-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.products-list {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin: auto;
    list-style: none;
    /* max-width: 100%; */
    /* overflow-x: auto; */
}

.products-item{
    /* border-right: 1px solid var(--border-color); */
}

.products-link {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 280px;
    text-decoration: none;
}
.products-img {
    width: 80%;
    margin: 35px 36px 15px 28px;
    border-radius: 5px;
    transition: transform linear 0.2s;
}
.products-img:hover {
    transform: translateY(-5px);
}
.products-name {
    color: var(--black-color);
    height: 4.8rem;
    line-height: 1.6rem;
    overflow: hidden;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0 25px;
}

.products-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 0 15px 25px;
    color: var(--primary-color);
}

.category-item:hover .modal-laptopgaming,
.category-item:hover .modal-laptopvanphong{
    display: flex;
}

/* footer 1 */
.footer {
    height: 700px;
    /* margin-top: 20px; */
}

.newsletter {
    height: 112px;
    border-bottom: 1px solid var(--border-color);
    /* background-color: #3b5998; */
}

.newsletter-inner {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #3b9858; */
    transform: translateY(23px);
}

.newsletter-content h2{
    font-size: 2rem;
    height: 3.7rem;
    line-height: 3.7rem;
}
.newsletter-content p{
    font-size: 1.5rem;
    height: 3rem;
    line-height: 3rem;
}

.newsletter-form {
    height: 50px;
    width: 40%;
    display: flex;
}

.newsletter-input {
    height: 100%;
    width: 75%;
    background-color: #cecece;
    border:1px solid var(--border-color);
    border-radius: 3px;
    outline: none;
    font-size: 1.5rem;
    padding: 0 16px;
}

.newsletter-btn {
    height: 100%;
    width: 23%;
    /* margin-left: 0; */
    border: none;
    border-radius: 3px;
    background-color: var(--primary-color);
}

.newsletter-btn span {
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.widget {
    padding-top: 25px;
    border-bottom: 1px solid var(--border-color);
}

.widget-collumn {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.widget h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.widget-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--black-color);
    /* font-weight: 600; */
    padding: 4px 0;
}

.widget-link-1:hover,
.widget-link-2:hover,
.widget-link-3:hover,
.widget-link-4:hover,
.widget-link-5:hover {
    color: var(--primary-color);
}

.widget-collumn-sub {
    padding-bottom: 25px;
}

.widget-transport {
    display: flex;
    flex-wrap: wrap;
}
.widget-transport-img {
    width: 23%;
    padding: 2px 2px;
}

.bottom-widget-logo img {
    width: 200px;
}

.bottom-widget-content h3{
    height: 3rem;
    line-height: 3rem;
    font-size: 1.9rem;
    margin-bottom: 10px;
}
.bottom-widget-content p{
    font-size: 1.3rem;
}

.bottom-widget-certificate img {
    width: 200px;
    margin-top: 20px;
}

.widget-collumn h2{
    margin-bottom: 10px;
}

.add-showroom {
    padding-left: 12px;
    margin-bottom: 22px;
}
.add-showroom li {
    font-size: 1.3rem;
    padding: 5px 0;
}

.gearvn360-img {
    width: 150px;
}

.widget-social {
    display: flex;
    /* justify-content:flex-start; */
}
.widget-social-img {
    width: 32px;
    margin-right: 40px;
}
.bottom-widget {
    border-bottom: 1px solid var(--border-color);
}

.copyright {
    text-align: center;
    height: 40px;
    line-height: 4rem;
    font-size: 1.2rem;
    user-select: none;
}

/* mobile menu */
.mobile-menu-modal {
    position: fixed;
    width: 75%;
    height: 110vh;
    background-color: var(--white-color);
    top: 0;
    left: -75%;
    transition: all 0.5s ease;
    z-index: 1;
}
.mobile-sign {
    height: 10%;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    background-color: #ff3c00;
}

.sign-icon {
    font-size: 4rem;
    color:var(--white-color);
    padding: 0 20px;
}
.sign-registry {
    font-size: 1.6rem;
}

.sign-registry a{
    text-decoration: none;
    color: var(--white-color);
    padding: 0 10px;
    -webkit-tap-highlight-color: transparent;
}


.mobile-menu-list {
    list-style: none;
    padding: 10px;
}

.mobile-menu-item {
    padding: 15px 0;
}

.mobile-menu-link:onClick {
    background-color: #cecece;
}

.mobile-menu-link {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.6rem;
    user-select: none;
    -webkit-tap-highlight-color:transparent;
}
.mobile-menu-link>.phone {
    color: var(--primary-color);
    font-weight: 600;
}

.mobile-menu-icon {
    color: #9b9090;
    width: 25px;
    font-size: 2rem;
    margin: 0 10px;
}

.mobile-product-category {
    padding: 10px 20px 20px 20px;
    margin-top: 100px;
    background-color: var(--white-color);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

}

.mobile-category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px 2px;
    margin-top: 15px;
}
.mobile-category-icon {
    font-size: 3rem;
    padding-bottom: 20px;
    color:#868585;
}
.mobile-category-item span {
    width: 100%;
    height: 40px;
    overflow: hidden;
    text-align: center;
    font-size: 2rem;
}








