/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* class chung */
html{
    scroll-behavior: smooth; /*Tạo hiệu ứng cuộn trang*/
    font-family: Arial, Helvetica, sans-serif; /*chỉnh các chữ cùng 1 font*/
}
.clear{
    clear:both;
}

.text-white{
    color:white !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content:"";
    display: block;
    clear:both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width:50%;
}
.col-full{
    width:100%;
}

.mt-8{
    margin-top: 8px !important;
}

#main{

}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color:black;
    z-index: 1; /*nâng độ dày cho header để không bị slider che mất*/
}
#nav{
    display:inline-block;
}
#nav, .subnav{
    list-style: none;
}
#nav > li{
    display: inline-block;
}
#nav li{    
    position: relative;
}
#nav > li > a{
    color:white;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none; /*xóa phần gạch chân*/
    padding: 0 22px;
    line-height: 46px; /*chỉnh độ cao của dòng chữ*/
    display: inline-block; /* hover = 100% thẻ chứa nó*/
    font-weight: bold;
}
#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover{
    color: black;
    background-color: gray;
}

#nav .subnav{
    display: none; /*tạm ẩn các thành phần con của thẻ li*/
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) ; /*tạo bóng đổ*/
}
#nav .subnav a{
    color: black;
    line-height: 30px;
}
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    cursor: pointer;
}
#header .mobile-menu-icon:hover{
    background: #ccc;
    color: black;
}

#header .mobile-menu-icon,
#header .search-icon {
    color: white;
    font-size: 25px;
    line-height: 46px;
    padding: 0 20px;
}

#header .search-icon:hover{
    color: black;
    background-color: tomato;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background-image: url('/Front-end-F8/assets/image/chicago.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
#slider .text-content{
    position: absolute;
    color:white;
    bottom: 47px;
    text-align: center;
    width: 100%;
}

#content{
}

#content .content-selection{
    width: 800px;
    max-width: 100%; /*vừa độ rộng khi màn hình < 800px*/
    margin-left: auto;
    margin-right: auto;
    padding: 50px 8px;
}
#content .selection-heading{
    text-align: center;
    letter-spacing: 4px; /*tạo kc giữa các chữ cái*/
}
#content .selection-slogan{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    font-style: italic; /*chữ nghiêng*/
}
#content .text-about{
    text-align: justify; /*căn đều văn bản*/
    padding: 0 16px;
}
#content .member-list{
    margin-top: 50px;
}
#content .member-item{
    width: 33.3333%;
    float: left;
    text-align: center;
}
#content .member-name{
    font-weight: bold;
}
#content .member-pic{
    border-radius: 7px;
}

.tour-section{
    background-color: black;
}
.booking{
    background-color: white;
    list-style: none;
}
.booking li{
    font-size: 17px;
    padding: 11px 16px;
    border-bottom: 1px solid gray;
}
.booking .soldout{
    background-color: red;
    color:white;
    padding: 4px;
    margin-left: 10px;
}
.booking .quantily{
    background-color: black;
    color:white;
    padding: 2px 4px;
    border-radius: 50%;
    float: right;
    margin-right: 40px;
}

.place-list{
    margin-top: 32px;
    margin-bottom: 46px;
}
.place-item{
    width: 33.33333%;
}

.place-body{
    padding: 17px;
    background-color: white;
    font-size: 15px;
}
.place-body a{
    text-decoration: none;
    color:white;
    background-color: black;
    padding: 10px;
}
.place-body a:hover{
    background-color: gainsboro;
    color:black;
}
.place-pic{
    width: 100%;
    display: block;
}
.place-time{
    margin-top: 15px;
}
.place-about{
    margin-top: 15px;
    margin-bottom: 28px;
}

/* Contact form */
.contact{
    margin-top: 50px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.3;
}

.contact-info i[class*="fas "] {
    display: inline-block;
    width: 20px;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 8px;
    width:100%;
}
.contact-form .contact-submit{
    margin-top: 20px;
}
.contact-form .form-submit-btn{
    background: black;
    color: white;
    font-size: 15px;
    border: none;
    padding: 6px 12px;
    float: right;
    cursor: pointer;
}

.map-section img{
    width: 100%;

}

#footer{
    padding: 60px 16px;
    text-align: center;
}
#footer .social-list{
    font-size:24px;
    margin-bottom: 15px;
}
#footer .social-list a{
    color: black;
}
#footer .social-list a:hover{
    color: grey;
}

/* Modal ticket */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-container{
    background: white;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
}
.modal-header{
    background: green;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.modal-headicon{
    margin-right: 10px;
}
.modal-body{
    display: block;
    padding:17px 15px ;
}
.modal-label{
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 0;
}
.modal-input{
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 17px;;
    border: 1px solid grey;
}
.modal-close{
    display: inline-block;
    background: red;
    padding: 7px 7px;
    margin: 15px;
}
.modal-close a{
    text-decoration: none;
    color:white;
    font-size: 18px;
}
.footer-modal .help{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    color:rgb(126, 128, 230);
}
#pay{
    width: 100%;
    padding:15px;
    background: green;
    color:white;
    font-size: 16px;
    border: 1px;
}
#pay:hover{
    background: rgb(212, 205, 205);
    color: black;
}

#header .mobile-menu-btn{
    display: none;
}